<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-4"></div>

    <div class="col h-100">
      <mat-card class="login">
        <mat-card-header>
          <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form class="example-form">
            <table class="example-full-width" cellspacing="0">
              <tr>
                <td>
                  <mat-form-field class="example-full-width">
                    <input
                      matInput
                      class="login_input"
                      placeholder="Username"
                      name="username"
                      [formControl]="usernameFormControl"
                      required
                    />
                    <mat-error
                      class="mat-error-username-required"
                      *ngIf="usernameFormControl.hasError('required')"
                    >
                      Username is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field class="example-full-width">
                    <input
                      matInput
                      type="password"
                      placeholder="Password"
                      name="password"
                      [formControl]="passwordFormControl"
                      required
                    />
                    <mat-error
                      class="mat-error-password-required"
                      *ngIf="passwordFormControl.hasError('required')"
                    >
                      Password is <strong>required</strong>
                    </mat-error>
                    <mat-error
                      class="mat-error-password-too-short"
                      *ngIf="passwordFormControl.hasError('minlength')"
                    >
                      Password is <strong>too short</strong>
                    </mat-error>
                  </mat-form-field>
                </td>
              </tr>
            </table>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button class="main-button" (click)="submit()">
            Login
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-4"></div>
  </div>
  <div class="row">
    <div class="col text-center login_help">
      No account? <a href="signup">Create one!</a>
    </div>
  </div>
</div>
