.group-card {
  max-height: 80vh;
}

.group-card .row {
  height: 100%;
}
mat-card-content {
  height: 100%;
}

.group-description {
  padding-top: 5px;
  font-size: large;
  font-weight: 500;
}

.delete {
  font-size: large;
  font-weight: bold;
}
