<div class="row justify-content-center">
  <h1>{{gameTitleParameter}}</h1>
</div>
<div class="row justify-content-center">
  <div class="col-2 side"></div>
  <div class="col"><app-listings-main-bar></app-listings-main-bar></div>
  <div class="col-2 side"></div>
</div>
<div class="row justify-content-center">
  <div class="col-2 side "></div>
  <div class="col"><app-listing-card (groupId)="1"></app-listing-card></div>
  <div class="col-2 side "></div>
</div>
<div class="row justify-content-center">
  <div class="col-2 side"></div>
  <div class="col"><app-listing-card (groupId)="1"></app-listing-card></div>
  <div class="col-2 side"></div>
</div>
<div class="row justify-content-center">
  <div class="col-2 side"></div>
  <div class="col"><app-listing-card (groupId)="1"></app-listing-card></div>
  <div class="col-2 side"></div>
</div>
<div class="row justify-content-center">
  <div class="col-2 side"></div>
  <div class="col"><app-listing-card (groupId)="1"></app-listing-card></div>
  <div class="col-2 side"></div>
</div>
<div class="row justify-content-center">
  <div class="col-2 side"></div>
  <div class="col"><app-listing-card (groupId)="1"></app-listing-card></div>
  <div class="col-2 side"></div>
</div>
<div class="row justify-content-center">
  <div class="col-2 side"></div>
  <div class="col"><app-listing-card (groupId)="1"></app-listing-card></div>
  <div class="col-2 side"></div>
</div>
