<mat-card>
    <mat-card-content>
        <div class="row justify-content-center">
            <div class="col-7">
              {{groupData.description}}
            </div> 
            <div class="col-2">
              <mat-card-subtitle>{{groupData.creator}}</mat-card-subtitle>
              </div>
              <div class="col-1">
                <mat-card-subtitle>{{groupData.currentSize}}/{{groupData.playerLimit}}</mat-card-subtitle>
              </div>
              <div class="col-1">
               <mat-card-subtitle>{{elapsedTime}}m ago</mat-card-subtitle>
              </div>
              <div class="col-1">
                <mat-card-actions>
                  <button mat-raised-button class="main-button" (click)="onClick()">Join</button>
              </mat-card-actions>
              </div>
            </div>
    </mat-card-content>
</mat-card>
