.chat {
  padding: 5px;
  border: 1px solid #c5c6c7;
  border-radius: 5px;
  margin: 20px;
  margin-top: none;
  overflow-y: auto;
  max-height: 70vh;
  height: 90%;
}
.flex {
  display: flex;
}
.chat-input {
  width: 100%;
}

.bottom {
  align-self: flex-end;
}

.chat-input-submit {
  padding: 20px;
  padding-left: 10px;
}

mat-form-field {
  width: 100%;
}

textarea {
  height: 3.3em;
}

button {
  height: 100%;
  width: 100%;
}
