<div class="row justify-content-center  chat">
  <div class="col-12">
    <div class="row justify-content-center chat-messages" *ngFor="let message of messages">
      <div class="col">
        <app-message [message]="message"></app-message>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="row justify-content-center chat-input">
      <div class="col-9 chat-input-textarea">
        <mat-form-field appearance="fill">
          <mat-label></mat-label>
          <textarea style="resize: none" matInput [(ngModel)]="textArea"></textarea>
        </mat-form-field>
      </div>
      <div class="col-3 chat-input-submit">
          <button mat-raised-button class="main-button" (click)="submit()">Submit</button>
      </div>
    </div>
  </div>
</div>
