.modal-content {
  background-color: black;
}
.mat-form-field {
  width: 100%;
  bottom: 0.5em;
}

.example-full-width {
  width: 100%;
}
.description_textarea {
  width: 100%;
  border: 1px blanchedalmond solid;
}

button {
  width: 30%;
  font-family: Assistant;
  font-weight: bold;
}
.small-input {
  width: 10em;
}
.close {
  color: white;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
}
