<mat-card class="login">
  <mat-card-header>
    <h1>Stwórz grupę</h1>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <textarea
                matInput
                class="description-textarea"
                placeholder="Opis"
                name="search"
                value=""
              ></textarea>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="small-input">
              <input matInput placeholder="Limit graczy" name="size-limit" />
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="activeModal.close()" class="main-button">
      Stwórz
    </button>
  </mat-card-actions>
</mat-card>
