<mat-card class="login">
  <mat-card-header>
    <h1>Stwórz grupę</h1>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="activeModal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <textarea
                matInput
                [formControl]="description"
                class="description-textarea"
                placeholder="Opis"
                name="search"
                value=""
              ></textarea>
            </mat-form-field>
            <mat-error
                    *ngIf="
                      description.hasError(
                        'required'
                      ) && description.touched
                    "
                  >
                    Description is <strong>required</strong>
                  </mat-error>
                  <mat-error
                    *ngIf="
                      description.hasError(
                        'minlength'
                      ) && description.touched
                    "
                  >
                    At least <strong>8 characters required</strong>
                  </mat-error>
                  <mat-error
                    *ngIf="
                      description.hasError(
                        'maxlength'
                      ) && description.touched
                    "
                  >
                    Description is <strong>too long</strong>
                  </mat-error>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="small-input">
              <input
                matInput
                [formControl]="playerLimit"
                placeholder="Limit graczy (1-10)"
                name="size-limit"
              />
            </mat-form-field>
            <mat-error
            *ngIf="
              playerLimit.hasError(
                'required'
              ) && playerLimit.touched
            "
          >
            Limit is <strong>required</strong>
          </mat-error>
          <mat-error
            *ngIf="
            playerLimit.hasError(
                'min'
              ) && playerLimit.touched
            "
          >
            At least <strong>1 player limit</strong>
          </mat-error>
          <mat-error
            *ngIf="
            playerLimit.hasError(
                'max'
              ) && playerLimit.touched
            "
          >
            No more than <strong>10 players</strong>
          </mat-error>
          <mat-error
            *ngIf="
            playerLimit.hasError(
                'pattern'
              ) && playerLimit.touched
            "
          >
            Only <strong>numbers</strong> are allowed
          </mat-error>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="submit()" class="main-button">
      Stwórz
    </button>
  </mat-card-actions>
</mat-card>
